@import '@styles/Animation.scss';
@import '@styles/Color.scss';

.Timer {
  align-items: center;

  .Started {
    color: var(--color-white);
  }

  .Paused {
    color: var(--color-gray);
  }

  .Warning {
    color: var(--color-orange);
  }

  .Expired {
    color: var(--color-red);
  }

  @keyframes shimmer {
    0% {
      left: -150%;
    }
    100% {
      left: 150%;
    }
  }

  .Shimmer {
    position: absolute;
    top: 0;
    left: -150%;
    width: 200%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 2s forwards;
  }

  .TimerLabel {
    content: '';
  }

  .TimerContent {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;

    .TimerDisplay {
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }

  @mixin expanded {
    overflow: auto;
    transform: scaleX(1);
    width: 2.75rem;
  }

  @mixin collapsed {
    overflow: hidden;
    transform: scaleX(0);
    width: 0;
  }

  @keyframes expand {
    from {
      @include collapsed;
    }
    to {
      @include expanded;
    }
  }

  @keyframes collapse {
    from {
      @include expanded;
    }
    to {
      @include collapsed;
    }
  }

  .Expand {
    animation: expand 0.2s ease-out forwards;
  }

  .Collapse {
    animation: collapse 0.2s ease-out forwards;
  }
}
