.WarTimerHeader {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .Left {
    display: inline-block;
    flex-basis: 100%;
    text-align: center;
  }

  .Center {
    display: none;
    flex-basis: 10%;
  }

  .Right {
    display: none;
    flex-basis: 40%;
  }

  @media screen and (min-width: 40rem) {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .Left {
      flex-basis: 40%;
      text-align: left;

      & > div {
        padding-left: 0.75rem;
      }
    }

    .Center {
      display: inline-block;
    }

    .Right {
      display: flex;
      justify-content: right;

      & > div {
        padding-right: 0.75rem;
      }
    }
  }
}
