/* Bounce */

@mixin Bounce {
  animation: Bounce 0.4s ease-in-out;
}

.Bounce {
  @include Bounce;
}

.BounceOnHover {
  @media (hover: hover) {
    &:hover {
      @include Bounce;
    }
  }
}

@keyframes Bounce {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Shimmer */

@mixin Shimmer {
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 40%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 300%;
  background-position-x: 100%;
  animation: Shimmer 0.6s forwards;
}

.Shimmer {
  @include Shimmer;
}

.ShimmerOnHover {
  @media (hover: hover) {
    &:hover {
      @include Shimmer;
    }
  }
}

@keyframes Shimmer {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}
