@keyframes Bounce {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@mixin Bounce {
  animation: Bounce 0.4s ease-in-out;
}

.BounceOnHover {
  @media (hover: hover) {
    &:hover {
      @include Bounce;
    }
  }
}
