@mixin Monospace {
  font-family: monospace;
}

@mixin Troika {
  font-family: 'troika';
}

* {
  font-size: 1rem;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}
