@mixin Monospace {
  font-family: monospace;
}

@mixin Troika {
  font-family: 'troika';
}

* {
  font-size: 1rem;
}

button {
  font-size: 0.875rem;
  font-weight: bold;

  * {
    font-size: 0.875rem;
  }
}

body {
  font-size: 16px;
}

h1 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 1.75rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 0.75rem 0;
}

p {
  line-height: 1.5em;
}

label {
  font-weight: bold;
  margin: 1rem 0 0.75rem 0;
}
