@mixin Monospace {
  font-family: monospace;
}

@mixin Troika {
  font-family: 'troika';
}

* {
  font-size: 1rem;
}

button {
  font-size: 0.875rem;

  * {
    font-size: 0.875rem;
  }
}

body {
  font-size: 16px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

p {
  line-height: 1.5em;
}
