.Settings {
  margin: 0;
  padding: 1rem;

  label {
    display: block;
    margin: 1rem 0 0 0;

    button[type='button'] {
      margin-top: 1rem;
    }

    & > div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0.5rem 0 0 0;
    }
  }
}
