.NavigationButton {
  padding: 0.5rem 0.75rem;
}

.Menu {
  background: linear-gradient(
    to right,
    var(--color-gray-darkest),
    var(--color-black)
  );
  background-color: var(--color-gray-darkest);
  bottom: 4.375rem;
  display: none;
  flex-direction: column;
  left: 0;
  padding-bottom: 0.5rem;
  position: fixed;

  &.Open {
    display: flex;
    width: 100%;
    z-index: 1000; //TODO Manage z-index in one place
  }

  li {
    height: 3rem;

    a,
    a:visited {
      align-items: center;
      color: var(--color-orange);
      display: flex;
      justify-content: flex-start;
      padding: 1rem;
      text-decoration: none;
      width: 100%;

      & > * {
        display: inline-block;
        margin-left: 0.5rem;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
