.Settings {
  margin: 0;
  min-height: 100vh;
  padding: 1rem;

  fieldset {
    border: 0.0625rem solid var(--color-gray-dark);
    border-radius: 0.5rem;
    padding: 0 0.75rem;

    & > * {
      margin: 0.75rem 0;
    }

    & > legend {
      margin: 0;
    }
  }

  label {
    display: block;

    & > div {
      display: flex;
      align-items: center;
      font-weight: normal;
      justify-content: flex-start;
      margin: 0.5rem 0 0 0;
    }
  }

  svg + span {
    margin-left: 0.25rem;
  }
}
